<h2>Product details</h2>
<div *ngIf="product">
  <div class="row">
    <div class="col-sm-5">
      <img src='http://localhost:5001/hoodie_front.png' alt="Slika!" class="img-thumbnail">
    </div>
    <div class="col-sm-7">
      <h3>{{ product.name }}</h3>
      <h3>{{ product.size }}</h3>
      <h4>{{ product.price | currency }}</h4>
      <button (click)="addToCart()" class="btn btn-primary btn-black">Buy</button>
    </div>
  </div>
</div>





