<br>
<ul class="list-group" style="width: 70%; margin: left;">
  <li class="list-group-item" *ngFor="let product of products">
    <div class="row">
    <div class="col-sm-3">
      <img src='http://localhost:5001/hoodie_front.png' alt="Slicica!" class="img-thumbnail">
    </div>
    <div class="col-sm-9">
      <h4>{{ product.name }}</h4>
      <p>Price: ${{ product.price }}</p>
    <a [routerLink]="['/products', product._id]" class="btn btn-primary">See details</a>
    </div>
  </div>
  </li>
</ul>
