<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-sm-3"><!--left col-->
      <div class="text-center">
        <div >
          <img [src]="'http://localhost:5001/' +this.user.imgUrl" class="avatar img-circle img-thumbnail" alt="avatar">
        </div>
          <h4 class="text-primary" *ngIf="user"> {{user.username}} </h4>
          <br>
          <button  class="btn btn-danger" (click)="onClickLogout()">Logout </button>
      </div>
    </div>

    <div class="col-sm-9">
      <!-- Nav pills -->
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="pill" href="#userSetting">Basic info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#userProfileImage">Profile image</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#userPassword">Password</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#userProducts">My products</a>
        </li>
      </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane container active" id="userSetting">
      <br>
  <form  [formGroup]="userForm" (ngSubmit)="onUserFormSubmit()" style="width: 70%; margin: left;">
      <div class="form-group">
        <label for="name">Name*:</label>
        <input  formControlName="name"  class="form-control" [ngClass]="{'is-invalid':hasErrors('name')}" type="text">
        <div class="text-danger">
          <span *ngFor="let errMessage of errorMessages('name')">{{errMessage}}</span>
        </div>
      </div>
      <div class="form-group">
        <label for="surname">Surname*:</label>
        <input formControlName="surname"  class="form-control" type="text" [ngClass]="{'is-invalid':hasErrors('surname')}">
        <div class="text-danger">
          <span *ngFor="let errMessage of errorMessages('surname')">{{errMessage}}</span>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email*:</label>
        <input formControlName="email" class="form-control" type="text" [ngClass]="{'is-invalid':hasErrors('email')}">
        <div class="text-danger">
          <span *ngFor="let errMessage of errorMessages('email')">{{errMessage}}</span>
        </div>
      </div>
    <div class="form-group text-center">
      <input type="submit" value="Save changes!" class="btn btn-primary">
    </div>
  </form>
  </div>

  <div class="tab-pane container fade" id="userProducts">
    <app-user-products></app-user-products>
  </div>


    <!-- Formular za lozinku -->
  <div class="tab-pane container fade" id="userPassword">
    <br>
    <form  [formGroup]="userPasswordForm"  (ngSubmit)="onUserPasswordSubmit()" style="width: 70%; margin: left;">
      <div class="form-group">
        <label>Old password*:</label>
        <input formControlName="oldPassword" class="form-control" type="password" placeholder="Password..." [ngClass]="{'is-invalid':hasPassErrors('oldPassword')}">
        <div class="text-danger">
          <span *ngFor="let errMessage of passErrorMessages('oldPassword')">{{errMessage}}</span>
        </div>
      </div>

      <div class="form-group">
        <label >New password*:</label>
        <input formControlName="newPassword" class="form-control" type="password"  placeholder="Password..."  [ngClass]="{'is-invalid':hasPassErrors('newPassword')}">
        <div class="text-danger">
          <span *ngFor="let errMessage of passErrorMessages('newPassword')">{{errMessage}}</span>
        </div>
      </div>

      <div class="form-group text-center">
        <input type="submit" value="Save changes!" class="btn btn-primary">
      </div>
    </form>
    </div>
      <!-- Formular za sliku -->
  <div class="tab-pane container fade" id="userProfileImage">
    <form style="width: 70%; margin: left;" [formGroup]="userImageForm" (ngSubmit)="onUserImageSubmit()" >
      <br>
      <div class="form-group">
        <input  formControlName="image" class="form-control" type="file" value="Choose file"  (change)="onChangeFile($event)">
      </div>
      <br>
      <div class="form-group">
      <input type="submit" value="Save changes!" class="btn btn-primary">
      </div>
    </form>
  </div>
</div>
</div>
