<h2>Purchase</h2>
<hr />

<ng-template #noItems>
  The cart is empty
</ng-template>

<div *ngIf="products.length > 0; else noItems">
  <p>Your current cart includes these products:</p>
  <div class="alert alert-info" *ngFor="let product of products">
    <h4>{{ product.name }}</h4>
    <hr />
    <h6>{{ product.price | currency}}</h6>
    <hr />
  </div>
  <h4 class="text-right">Total price: {{ products | sum | currency }}</h4>

  <form [formGroup]="checkout" (ngSubmit)="submitForm(checkout.value)">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        name="name"
        id="name"
        class="form-control"
        formControlName="name"
      />
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <input
        type="text"
        name="address"
        id="address"
        class="form-control"
        formControlName="address"
      />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="text"
        name="email"
        id="email"
        class="form-control"
        formControlName="email"
      />
    </div>

    <button
      class="btn btn-primary btn-black"
      type="submit"
      [disabled]="!checkout.valid"
    >
      Purchase
    </button>
  </form>

  <div class="alert alert-danger" *ngIf="name.errors?.required">
    Name is required
  </div>
  <div class="alert alert-danger" *ngIf="name.errors?.incorrectName">
    Name is not correct
  </div>
  <div class="alert alert-danger" *ngIf="address.errors?.required">
    Address is required
  </div>
  <div class="alert alert-danger" *ngIf="address.errors?.pattern">
    Address doesn't match the pattern
  </div>
  <div class="alert alert-danger" *ngIf="email.errors?.required">
    Email is required
  </div>
  <div class="alert alert-danger" *ngIf="email.errors?.email">
    Email is not valid
  </div>
</div>